DOMAIN=localhost
STACK_NAME=terraflow-stack

TRAEFIK_PUBLIC_NETWORK=traefik-public
TRAEFIK_TAG=terraflow-traefik
TRAEFIK_PUBLIC_TAG=traefik-public


# Terraflow backend configuration
TERRAFLOW_LOG_LEVEL=debug
TERRAFLOW_SUPERUSER=superuser
TERRAFLOW_SUPERUSER_PASSWORD=superuser
TERRAFLOW_NEW_USER_IS_ACTIVE=False


# Terraflow frontend configuration
BACKEND_URL=http://backend:7860

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=terraflow
RABBITMQ_DEFAULT_PASS=terraflow

# Database configuration
DB_USER=terraflow
DB_PASSWORD=terraflow
DB_HOST=db
DB_PORT=5432
DB_NAME=terraflow

# DB configuration
POSTGRES_USER=terraflow
POSTGRES_PASSWORD=terraflow
POSTGRES_DB=terraflow
POSTGRES_PORT=5432

# Flower configuration
# Disable until https://github.com/terraflow-ai/terraflow/pull/2655 gets released
#TERRAFLOW_CACHE_TYPE=redis
TERRAFLOW_REDIS_HOST=result_backend
TERRAFLOW_REDIS_PORT=6379
TERRAFLOW_REDIS_DB=0
TERRAFLOW_REDIS_EXPIRE=3600
TERRAFLOW_REDIS_PASSWORD=
FLOWER_UNAUTHENTICATED_API=True
BROKER_URL=amqp://terraflow:terraflow@broker:5672
RESULT_BACKEND=redis://result_backend:6379/0
C_FORCE_ROOT="true"


# PGAdmin configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
