DOMAIN=localhost
STACK_NAME=earthmind-stack

TRAEFIK_PUBLIC_NETWORK=traefik-public
TRAEFIK_TAG=earthmind-traefik
TRAEFIK_PUBLIC_TAG=traefik-public


# EarthMind backend configuration
EARTHMIND_LOG_LEVEL=debug
EARTHMIND_SUPERUSER=superuser
EARTHMIND_SUPERUSER_PASSWORD=superuser
EARTHMIND_NEW_USER_IS_ACTIVE=False


# EarthMind frontend configuration
BACKEND_URL=http://backend:7860

# RabbitMQ configuration
RABBITMQ_DEFAULT_USER=earthmind
RABBITMQ_DEFAULT_PASS=earthmind

# Database configuration
DB_USER=earthmind
DB_PASSWORD=earthmind
DB_HOST=db
DB_PORT=5432
DB_NAME=earthmind

# DB configuration
POSTGRES_USER=earthmind
POSTGRES_PASSWORD=earthmind
POSTGRES_DB=earthmind
POSTGRES_PORT=5432

# Flower configuration
# Disable until https://github.com/earthmind-ai/earthmind/pull/2655 gets released
#EARTHMIND_CACHE_TYPE=redis
EARTHMIND_REDIS_HOST=result_backend
EARTHMIND_REDIS_PORT=6379
EARTHMIND_REDIS_DB=0
EARTHMIND_REDIS_EXPIRE=3600
EARTHMIND_REDIS_PASSWORD=
FLOWER_UNAUTHENTICATED_API=True
BROKER_URL=amqp://earthmind:earthmind@broker:5672
RESULT_BACKEND=redis://result_backend:6379/0
C_FORCE_ROOT="true"


# PGAdmin configuration
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
